* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

nav {
    background-color: rgb(15, 15, 126);
    color: white;
    ul {
        font-size: 2em;
        text-align: left;
        padding: 1em;
        li {
            display: inline;
            padding-right: 1.5em;
        }
        a {
            color: bisque;
            text-decoration: none;
            &:hover {
                color: yellowgreen;
            }
        }
    }
}

#logo {
    float: left;
    width: 70px;
    height: 70px;
    padding: 10px 30px;
    margin-right: 50px;
}

img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    position: fixed;
    top: 20%;
    left: 10%;
    color: rgb(235, 205, 72);
    font-size: 8em;
    text-shadow: 10px 10px black;
}

p {
    position: fixed;
    top: 38%;
    left: 15%;
    color: rgb(236, 181, 117);
    font-size: 4em;
    text-shadow: 1.5px 1.5px black;
}

cite {
    position: fixed;
    top: 60%;
    left: 15%;
    text-align: center;
    color: rgb(240, 227, 50);
    font-size: 4em;
    text-shadow: 4px 1.5px black;
}

footer {
    position: absolute;
    bottom: auto;
    background-color: black;
    color: white;
    padding: 4em;
    font-size: 2em;
}

#footbutton {
    position: absolute;
    top: 3em;
    width: 100px;
    height: 50px;
    background-color: rgb(156, 18, 18);
    color: white;
    font: 2.4em;
    border-radius: 15px;
    &:hover {
        background-color: red;
        transform: scale(1.5);
    }
}